<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-primary btn-rounded mb-2 mr-2" (click)="openModal(content)">
                  <i class="mdi mdi-plus me-1"></i>Add CR
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <thead>
                <tr>
                  <th>LoanAccountNumber</th>
                  <th>CustomerNumber</th>
                   <th>RoleAssociation</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customerrelationshipData of customerrelationshipDetails ;let i = index;">
                  <td>
                    <div *ngIf="customerrelationshipData.isEdit">
                      <input type="text" [(ngModel)]="customerrelationshipData.loanAccountNumber" class="form-control"/>
                  </div>
                  <div *ngIf="!customerrelationshipData.isEdit">
                      {{customerrelationshipData.loanAccountNumber}}
                  </div> 
                  </td>
                  <td>
                    <div *ngIf="customerrelationshipData.isEdit">
                      <input type="text" [(ngModel)]="customerrelationshipData.customerNumber" class="form-control"/>
                  </div>
                  <div *ngIf="!customerrelationshipData.isEdit">
                      {{customerrelationshipData.customerNumber}}
                  </div> 
                  </td>
                  <td>
                    <div *ngIf="customerrelationshipData.isEdit">
                      <input type="text" [(ngModel)]="customerrelationshipData.roleAssociation" class="form-control"/>
                  </div>
                  <div *ngIf="!customerrelationshipData.isEdit">
                      {{customerrelationshipData.roleAssociation}}
                  </div> 
                  </td>
                      <td *ngIf="customerrelationshipData.loanAccountNumber !== ''">
                      <div class="dropdown" ngbDropdown placement="bottom-right">
                        <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                          ngbDropdownToggle aria-expanded="false">
                          <i class="mdi mdi-dots-horizontal font-size-18"></i>
                        </a>
                        <div *ngIf="customerrelationshipData.isEdit">
                          <button class="btn btn-sm btn-success" (click)="editCr(customerrelationshipData.id,customerrelationshipData)" >Update</button> 
                          <button class="btn btn-sm btn-danger" (click)="customerrelationshipData.isEdit = false">Cancel</button> 
                      </div>
                      <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <li>
                          <button type="button" class="dropdown-item" (click)="onEdit(customerrelationshipData)">
                            <i class="fas fa-pencil-alt text-success me-1">&nbsp;</i>Edit
                          </button>
                        </li>
                        <li>
                          <button type="button" class="dropdown-item" (click)="deleteCr(customerrelationshipData.id)">
                            <i class="fas fa-trash-alt text-danger me-1">&nbsp;</i>Delete
                          </button>
                          
                        </li>
                            
                      </ul>
                       
                      
                      </div>
                    </td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add Bucket Details</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveCr()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">loanAccountNumber</label>
            <input class="form-control" placeholder="Enter loanAccountNumber" type="text" name="loanAccountNumber"
              autocomplete="off" formControlName="loanAccountNumber"
              [ngClass]="{'is-invalid': submitted && form.loanAccountNumber.errors}" />
            <div *ngIf="submitted && form.loanAccountNumber.errors" class="invalid-feedback">
              <span *ngIf="form.loanAccountNumber.errors.required">loanAccountNumber is required.</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">customerNumber</label>
            <input class="form-control" placeholder="Enter customerNumber" type="text" name="customerNumber"
              autocomplete="off" formControlName="customerNumber"
              [ngClass]="{'is-invalid': submitted && form.customerNumber.errors}" />
            <div *ngIf="submitted && form.customerNumber.errors" class="invalid-feedback">
              <span *ngIf="form.customerNumber.errors.required">customerNumber is required.</span>
            </div>
          </div>
           <div class="mb-3">
            <label class="control-label">Role/Association</label>
            <input class="form-control" placeholder="Enter roleAssociation" type="text" name="roleAssociation"
              autocomplete="off" formControlName="roleAssociation"
              [ngClass]="{'is-invalid': submitted && form.roleAssociation.errors}" />
            <div *ngIf="submitted && form.roleAssociation.errors" class="invalid-feedback">
              <span *ngIf="form.roleAssociation.errors.required">roleAssociation is required.</span>
            </div>
          </div>
         </div>
      </div>
      <button type="submit" class="btn btn-success" id="btn-save-event">
        Save
      </button>
    </form>
  </div>
</ng-template>