//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

//@import url(https://maxcdn.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css); 


/*body, h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-size: 16px;  
}
p {
  line-height: 1.6;
}

h1 {
  font-weight: 700;
  text-align: center;
}

h3 {
  font-style: italic;
}

.more-toolbar {
	margin-top: 10px;
}

.more{
  margin-top: 3px
}

.more:last-child {
  margin-bottom: 0px;
}

.more p {
  font-weight: 350;
}

.p {
  text-align: center;
}




.tooltip {  
  position: absolute;  
  z-index: 3000;  
  border: 1px solid #b7b086;  
  background-color: white;  
  color: #000!important;  
  padding: 5px 15px 5px 10px;  
  opacity: 1;  
  width: 350px;  
}  

*/