
  


<!--<div class="page-header"><h1>Timesheet</h1></div>
<div class="container ">
	<div class="panel panel-primary ">
		<div class="panel-heading text-center">
			<div class="row">
				<div class="col-md-3 col-lg-3" text-center>
					<h4>Project-Task</h4>
				</div>
				<div class="col-md-1 col-lg-1">
					<h4>Mon</h4>
				</div>
				<div class="col-md-1 col-lg-1">
					<h4>Tue</h4>
				</div>
				<div class="col-md-1 col-lg-1">
					<h4>Wed</h4>
				</div>
				<div class="col-md-1 col-lg-1">
					<h4>Thur</h4>
				</div>
				<div class="col-md-1 col-lg-1">
					<h4>Fri</h4>
				</div>
				<div class="col-md-1 col-lg-1">
					<h4>Sat</h4>
				</div>
				<div class="col-md-1 col-lg-1 ">
					<h4>Sun</h4>
				</div>
				<div class="col-md-1 col-lg-1 ">
					<h4>Total</h4>
				</div>
				<div class="col-md-1 col-lg-1">
  <span class="glyphicon glyphicon-wrench more-toolbar" aria-hidden="true"></span> 
				</div>
			</div>
		</div>
		<div class="panel-body" textalign ="center">
			<div class="row">
				<div class="col-md-3 col-lg-3">
         
        
      
				</div>

				<div class="col-md-1 col-lg-1 ">
					<input type="text" class="form-control" placeholder="8.00" aria-label="...">
				</div>
				<div class="col-md-1 col-lg-1 ">
					<input type="text" class="form-control" placeholder="8.00" aria-label="...">
				</div>
				<div class="col-md-1 col-lg-1">
					<input type="text" class="form-control" placeholder="8.00" aria-label="...">
				</div>
				<div class="col-md-1 col-lg-1">
					<input type="text" class="form-control" placeholder="8.00" aria-label="...">
				</div>
				<div class="col-md-1 col-lg-1">
					<input type="text" class="form-control" placeholder="8.00" aria-label="...">
				</div>
				<div class="col-md-1 col-lg-1">
					<input type="text" class="form-control" placeholder="8.00" aria-label="...">
				</div>
				<div class="col-md-1 col-lg-1">
					<input type="text" class="form-control" placeholder="8.00" aria-label="...">
				</div>
<div class="col-md-1 col-lg-1">
  <button type="button" class="btn btn-success form-control"
          aria-label="Left Align"> 40 </button>
</div>
				<div class="col-md-1 col-lg-1">
					<button type="button" class="btn btn-default form-control"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
				</div>

			</div> 

			</div>
 
  
		</div>

<div class="panel-footer">
  
 <div class="row">
				<div class="col-md-1 col-lg-1">
										<button type="button" class="btn btn-info"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> New </span>
          </button>
				</div>
				<div class="col-md-1 col-lg-1" text-center>
					<button type="button" class="btn btn-info"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-floppy-open" aria-hidden="true"> Save</span>
          </button>   
 </div>
      
<div class="col-md-1 col-lg-1"></div>  
				<div class="col-md-1 col-lg-1 text-center btg-group">
					<button type="button" class="btn btn-primary"
						aria-label="Left Align">
            <span> 8.00</span> </button>
				</div>
				<div class="col-md-1 col-lg-1 text-center">
					<button type="button" class="btn btn-primary"
						aria-label="Left Align">
            <span> 8.00</span> </button>
				</div>
				<div class="col-md-1 col-lg-1 text-center">
					<button type="button" class="btn btn-primary"
						aria-label="Left Align">
            <span> 8.00</span> </button>
				</div>
				<div class="col-md-1 col-lg-1 text-center">
										<button type="button" class="btn btn-primary"
						aria-label="Left Align">
            <span> 8.00</span> </button>
				</div>
				<div class="col-md-1 col-lg-1 text-center">
					          					<button type="button" class="btn btn-primary"
						aria-label="Left Align">
            <span> 8.00</span> </button>

				</div>
				<div class="col-md-1 col-lg-1 text-center">
           					<button type="button" class="btn btn-primary"
						aria-label="Left Align">
            <span> 8.00</span> </button>

				</div>
				<div class="col-md-1 col-lg-1 text-center">
           					<button type="button" class="btn btn-primary"
						aria-label="Left Align">
            <span> 8.00</span> </button>

				</div>
				<div class="col-md-1 col-lg-1 text-center">
           					<button type="button" class="btn btn-success form-control"
						aria-label="Left Align">
            <span> 40.00</span> </button>

				</div>
				<div class="col-md-1 col-lg-1">
<button type="button" class="btn btn-danger form-control"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"> All</span>
					</button>
				</div>
			</div>

  </div>-->







<div> 
	
	<button style="margin: 5px;" class="btn btn-primary" (click)="addBlankRow()">Add New Row</button>  
  </div> 
  

  <div class="col-2 col-md-12">  
	<div class="card">  
	  <div class="card-body">  
		<div class="table-responsive cnstr-record">  
			<table class="table table-bordered"> 
				<thead>  
				  <tr>
					<th>projectName</th>
					
              <th  *ngFor="let day of weekdays">{{day | titlecase}}</th>
              <th>Total Hours</th>
			  <th>delete</th>
				  </tr>  
				</thead> 

		
		
	<tbody> 

		<tr>
			<label for="date1">Password</label>
		</tr>
		<tr  *ngFor="let employee of blankRowArray ; let i = index">  
			<td>  
				<select style="width: 100px;" [(ngModel)]="timesheetweek.projectId" [ngModelOptions]="{standalone: true}"  
			   class="form-control wp-100">  
				 
				<option  [ngValue]="0" disabled selected>project  
				</option>  
				<option [value]="1">project1</option>  
				<option [value]="2">project2</option>  
				<option [value]="3">project3</option>  
			  </select>
  
			</td> 
			<td *ngFor="let day of weekdays">
				<input  style="width: 70px;" type="number" [id]="day" [(ngModel)]="employee[day]" class="hours-input">
			</td>
			<td class="total-cell">{{getTotalHours(employee)}}</td>
              
			<button   (click)="deleteRow(i)" class="btn btn-danger">delete</button>  
		   
		
		</tr>  
	  </tbody>  
			
</table>

		  <button (click)=" onSubmit()" class="btn btn-success">Submit</button>
		
  
		</div> 
		 
	</div>  
  </div> 
  
</div> 
  

<script>

function nextweek(){
    var today = new Date();
    var nextweek = new Date(today.getFullYear(), today.getMonth(), today.getDate()+7);
    return nextweek;
}
</script>
